<tr>
  <p><h2><%= link_to event.name, event %></h2></p>
  <p><%= truncate(event.description, length: 250) %></p>
  <p><strong>Location:</strong><%= event.location %></p>
  <p><strong>Price:</strong><%= price_helper(event) %></p>
  <p><strong>Capacity:</strong><%= pluralize(event.capacity, "Seat") %></p>
  <p><strong>When:</strong><%= event.starts_at.to_s + " - "  + event.ends_at.to_s %></p>
  <p><img src="<%= image_path(event.image_file_name) %>"</img></p>
  <p><%= link_to 'Show', event %>
  <%= link_to 'Edit', edit_event_path(event) %>
  <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
  <%=  link_to "Register!", new_registration_path %>
  <%=  link_to "Review this event", new_review_path %></p>
</tr>