<p id="notice" xmlns="http://www.w3.org/1999/html"><%= notice %></p>

<p>
  <h1><%= @event.name %></h1>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Capacity:</b>
  <%= @event.capacity %>
</p>

<p>
  <b>Price:</b>
  <%= price_helper(@event.price) %>
</p>

<p>
  <b>Starts at:</b>
  <%= @event.starts_at %>
</p>

<p>
  <img src="<%= image_path(@event.image_file_name) %>"</img>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
