<!DOCTYPE html>
<html>
<head>
  <title><%=@page_title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
  <%=@page_title%>
</header>

<div id="content">
  <%= yield %>
</div>

<footer id="footer">
  <%= @page_title %>
</footer>
</body>
</html>
